/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

:root {
    --primary-button-color: #357b70;
    --primary-button-text-color: white;
    --secondary-button-color: #e0b354;
    --secondary-button-text-color: #2b2b2b;
    --border-color: rgba(0, 0, 0, 0.3);
    --background-color: #a6f5db;
    --font-bold: 700;
    --font-normal: 400;
    --link-color-visited: #05676e;
    --link-color-active: #489c79;
    --grid-background-color: #87a2fa;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: 'Lato', sans-serif;
    font-weight: var(--font-normal);
    font-size: 16px;
    line-height: 1.6;
}

h1 {
    font-size: 30px;
    font-weight: var(--font-bold);
}

h2 {
    font-size: 24px;
    font-weight: var(--font-bold);
}
  
h3 {
    font-size: 18px;
    font-weight: var(--font-bold);
}

a {
    color: var(--primary-color);
}

a:visited {
    /* visited link */
    color: var(--link-color-visited);
}

a:hover, a:focus {
    /* No underlining when hovering over a link */
    text-decoration: none;
}

a:active {
    /* selected link */
    color: var(--link-color-active);
}

button, .button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: var(--primary-button-color);
    color: var(--primary-button-text-color);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid var(--border-color);
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

button:hover, button:focus, .button:hover, .button:focus {
    cursor: pointer;
    opacity: 0.8;
}

.button__secondary {
    background-color: var(--secondary-button-color);
    color: var(--secondary-button-text-color);
}

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
    border-bottom: 2px solid var(--border-color);
}

.page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
}

.page-header__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.navigation-list__item--active {
    text-decoration: none;
}

.navigation-list li:hover, .navigation-list li:focus {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}

.profile {
    max-width: 700px;
    margin: 0 auto;
}

.profile__portrait {
    float: left;
    width: 250px;
    height: auto;
    margin-right: 40px;
    border-radius: 50%;
}

.about {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.about-list li {
    list-style-type: none;
}

/* start grid fallback */
.grid__item {
    display: inline-block;
    width: 25%;
}
/* end grid fallback */

.grid__item img {
    width: 100%;
}

.grid__item img {
    width: 100%;
}

@supports (display: grid) {
    .grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        margin: 0;
    }

    .grid__item {
        background-color: var(--grid-background-color);
        padding: 10px 10px;
        width: auto;
        min-height: auto;
        margin: 0;
    }

    /* .grid__item:last-child {
        grid-column: 3 / 3;
        grid-row: 1 / 3;
    } */
}

.contact-form-input-wrapper {
    margin-bottom: 10px;
}

.error-message {
    color: red;
    font-size: 0.8em;
}

.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}

@media all and (max-width: 500px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: 22px;
    }
}

@-webkit-keyframes color-change {
    0% {
      fill: #edc655;
    }
    50% {
      fill: #fcffad;
    }
    100% {
      fill: #f76414;
    }
}

@keyframes color-change {
    0% {
      fill: #edc655;
    }
    50% {
      fill: #fcffad;
    }
    100% {
      fill: #f76414;
    }
}

.sun {
    -webkit-animation: 4s color-change infinite alternate linear;
            animation: 4s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
    }
    to {
        -webkit-transform: translate(200px, 50px);
                transform: translate(200px, 50px);
    }
}

@keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
    }
    to {
        -webkit-transform: translate(200px, 50px);
                transform: translate(200px, 50px);
    }
}

.cloud-front {
    -webkit-animation: 30s cloud-move infinite alternate linear;
            animation: 30s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
    }
    to {
        -webkit-transform: translate(100px, 48px);
                transform: translate(100px, 48px);
    }
}

@keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
    }
    to {
        -webkit-transform: translate(100px, 48px);
                transform: translate(100px, 48px);
    }
}

.cloud-back {
    -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
            animation: 34s cloud-move-reverse infinite alternate linear;
}
